[Unit]
Description=SmarterHome Local Automation Engine
After=mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SmarterHome/hub
ExecStart=/home/pi/SmarterHome/hub/build/smarthome_automation
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
